# act
*.env
*.secrets

# git
.git
.gitattributes

# commitlint
commitlint.config.js
.husky

# Dependencies
node_modules
package*.json

# Docs
*.md

# Allow the .devcontainer/.env file
!.devcontainer/.env