name: Prebuild Devcontainer

on:
    # This workflow runs on pushes to the main branch and pull requests
    # when the .devcontainer folder is modified or the .dockerignore file
    # is modified.
    push:
        branches:
            - main
        paths:
            - .devcontainer/**
            - .dockerignore
            - .github/workflows/prebuild.yml

    pull_request:
        paths:
            - .devcontainer/**
            - .dockerignore
            - .github/workflows/prebuild.yml

permissions:
  packages: write

jobs:
    prebuild-devcontainer:
        runs-on: ubuntu-24.04

        steps:

            # Checkout the repository
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            # Set Docker buildx up for container build
            - name: Set up Docker buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

            # Log into GitHub Container Registry (GHCR) to store the image
            - name: Log into GitHub Container Registry
              uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
              with:
                registry: ghcr.io
                username: ${{ github.actor || 'petersellars' }}
                password: ${{ secrets.GITHUB_TOKEN }}
                
            # Pre-build the container image
            - name: Pre-build the container image
              uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
              with:
                imageName: ghcr.io/catosplace-devcontainers/engineering-base
                cacheFrom: ghcr.io/catosplace-devcontainers/engineering-base
                push: always
          